@import "font.css"; 
body{
    overflow-x: auto;
    background-color: white;
}
*{
    margin: 0;
    font: 20px 'Product Sans thin Regular';
    border: 0px solid black;
    transition: 0.3s;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; 
    font: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

.top{
    margin: 0;
    position: fixed;
    top:0;
    border: 0px solid black;
    width: 100%;
    height: 60px;
    background-color: #3dc4ac;
    color: white;
    z-index: 99999999;
}
#text{
    padding: 10px;
    padding-left:30px;
    font-size: 20px;
    /* border: 1px solid black; */
}
.top #text{    
    display: inline-block;
    width: 200px;
    cursor: pointer;
    font: 30px 'Product Sans Regular';
}
.search{
    float: right;
    text-align: center;
    /* border: 1px solid #eee; */
    height: 60px;
    margin-right: 10px;
    width: auto;
}
.search-container{
    display: inline-block;
    /* border: 1px solid #000; */
    height: 40px;
    padding: 10px 0;
    width: auto;
    margin-right: 30px;
}

.search input[type=search]{ 
    height: 40px;
    float: left;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 10px;

}

.search input[type=search]:focus{ 
    outline: none;
    border: 1px solid #aaa;
}
.search button{
    float: left;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background: #319e8a;
    cursor: pointer;
    height: 40px;
}
.search button:hover{
    background: #21695c;
}

.pokemons{
    width: 95%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
.pokemons .box{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    margin: 7px;
    cursor: pointer;
    background-color: #F7B44D;
}
.pokemons .box:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 4px #319e8a;
}
.pokemons .box img{
    width: 90%;
    margin: 10px;
}
.pokemons .box .name{
    background: #319e8a;
    width: 100%;
    color: white;
    font: 20px 'Product Sans Regular';
}

#stats{
    position: absolute;
    top:60px;
    transform: translateX(-100%);
    background-color: #F7B44D;
    width: 100%;
    height: auto;
    z-index: 9999;
}

#stats .box{
    width: 40%;
    margin: auto;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    height: 0%;
    padding: 30px;
}

.back{
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}



@media screen and (max-width: 600px) {
    .search{
        width: 100%;
        display: block;
        float: center;
        margin-right: 0px;
        /* border: 1px solid black; */
    }
    .search-container{
        padding: 10px;
        margin-right: 0px;
    }
    .top{
        text-align: center;
        display: block;
        height: 120px;
        float: center;
        padding:0px;
    }
    .top #text{
        padding: 10px 0;
    }

    .back{
        display: none
    }
    #stats .box{
        width: 90%;
        margin: auto;
        margin-top: 120px;
        padding: 10px;
    }
  }
